/* @import url('https://fonts.googleapis.com/css2?family=Bevan:ital@1&family=Darumadrop+One&family=Noto+Sans+JP:wght@500&display=swap');


h1, h2 {
  font-family: 'Bevan', cursive;
  font-family: 'Darumadrop One', cursive;
  font-family: 'Noto Sans JP', sans-serif;
} */